* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.card-container {
  margin: 50px 0;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.cart-warning {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close-button {
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.image-container-2 {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  background-color: #fff;
  clip-path: polygon(15% 0%, 100% 0, 100% 86%, 85% 100%, 0 100%, 0% 16%);
  order: -1;
}

.cont{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  width: 300px;
  margin: 0 10px 10px 0;
  height: 400px;
}

.cont-2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gray;
  padding: 4px;
  margin-top: 10px;

}
